<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Sign Up
    </title>
    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form class="form-login" role="form">
	<h2 class="form-login-heading">Sign up here!</h2>
	<input type="username" class="form-control" placeholder="Choose a username" required autofocus>
	<input type="password" class="form-control" placeholder="Choose a password" required>
	<br>
	<br>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
      <br>
      Log in when you've created an account:
      <br>
      <a href="{{ url_for('login') }}"><button>Log in</button></a>
    </div>
  </body>
</html>
